version: "3.3"
services:
  frontend:
    image: "ityce4ka/frontend-cd:latest"
#    platform: linux/amd64
    restart: unless-stopped
    build: .
    networks:
      - default
    ports:
      - "80:80"


networks:
  default:
