<script src="../../environments/environment.prod.ts"></script>
<table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
  <thead class="thead">
  </thead>
  <tfoot>
  <tr>
    <th><input class='searchInput' type="text" placeholder="Поиск" name="search-id"/></th>
    <th><input class='searchInput' type="text" placeholder="Поиск" name="search-name"/></th>
    <th><input class='searchInput' type="text" placeholder="Поиск" name="search-coord-x"/></th>
    <th><input class='searchInput' type="text" placeholder="Поиск" name="search-coord-y"/></th>
    <th><input class='searchInput' type="text" placeholder="Поиск" name="search-creation-date"/></th>
    <th><input class='searchInput' type="text" placeholder="Поиск" name="search-price"/></th>
    <th><input class='searchInput' type="text" placeholder="Поиск" name="search-manufactureCost"/></th>
    <th><input class='searchInput' type="text" placeholder="Поиск" name="search-unitOfMeasure"/></th>
    <th><input class='searchInput' type="text" placeholder="Поиск" name="search-manu-id"/></th>
    <th><input class='searchInput' type="text" placeholder="Поиск" name="search-manu-name"/></th>
    <th><input class='searchInput' type="text" placeholder="Поиск" name="search-manu-fullName"/></th>
    <th><input class='searchInput' type="text" placeholder="Поиск" name="search-manu_employeesCount"/></th>
    <th><input class='searchInput' type="text" placeholder="Поиск" name="search-manu_type"/></th>
    <th><input class='searchInput' type="hidden" placeholder="Поиск" name="search-act"/></th>
  </tr>
  </tfoot>
</table>
<!--<div class="subDiv">-->
<!--  <div class="measureArea">-->
<!--    <button id="delByMeasureBtn" tabindex="2" class="btn btn-primary px-2 py-1 mr-3" >Удалить продукты по типу ед. измерения:</button>-->
<!--    <div class="inputDiv">-->
<!--      &lt;!&ndash;<input type="text" id="measureField" placeholder="PCS or GRAMS" tabindex="1" />&ndash;&gt;-->
<!--      <select id="measureField" class="select">-->
<!--        <option value="PCS">Штуки</option>-->
<!--        <option value="GRAMS">Граммы</option>-->
<!--        <option value="CENTIMETERS">Сантиметры</option>-->
<!--        <option value="MILLILITERS">Миллилитры</option>-->
<!--      </select>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="countArea">-->
<!--    <button id="countByManufacturerIdBtn" tabindex="2" class="btn btn-primary px-2 py-1 mr-3" >Подсчитать кол-во продуктов производителя:</button>-->
<!--    <div class="inputDiv">-->
<!--      <input type="text" id="manufacturerIdField" placeholder="ИД производителя" tabindex="1"/>-->
<!--      <div id="count1" class="paragraph">-->
<!--        <p id="p1"></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="uniqueArea">-->
<!--    <button id="getUniqueManufactureCostBtn" tabindex="2" class="btn btn-primary px-2 py-1 mr-3" >Отобразить продукты с уникальными стоимостями</button>-->
<!--  </div>-->
<!--</div>-->
<div class="subDiv">
  <div class="measureArea text-center">
    <button id="getProductsByManufactureIdBtn" tabindex="2" class="btn btn-dark px-2 py-1 mr-3" >Отобразить продукты производителя:</button>
    <div class="inputDiv text-center">
      <input type="text" id="manufacturerIdField2" placeholder="ИД производителя" tabindex="1"/>
      <div id="count2" class="paragraph">
        <p id="p2"></p>
      </div>
    </div>
  </div>
  <div class="countArea text-center">
    <button id="getProductsByPriceBtn" tabindex="2" class="btn btn-primary px-2 py-1 mr-3" >Выбрать всю продукцию из диапазона цен:</button>
      <div class="inputDiv text-center">
<!--        <ngx-numeric-range-form-field-->
<!--                [formControl]="rangeControl"-->
<!--                label="Numeric range"-->
<!--                (blurred)="onBlur()"-->
<!--                (enterPressed)="onEnter()"-->
<!--                (numericRangeChanged)="onValueChange($event)"-->
<!--        ></ngx-numeric-range-form-field>-->
        <form [formGroup]="userForm">
          <input type="text" id="minPriceField" class="col-4" formControlName="num1" placeholder="Мин. цена" tabindex="1"/>
          <input type="text" id="maxPriceField" class="col-4 f" formControlName="num2" placeholder="Макс. цена" tabindex="2"/>
<!--          <div *ngIf="num1.errors && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'">-->
<!--            <div *ngIf="num1.errors.required">-->
<!--              Enter your number.-->
<!--            </div>-->
<!--            <div *ngIf="num1.errors.min">-->
<!--              Minimum required number is {{minNum}}.-->
<!--            </div>-->
<!--          </div>-->
        </form>
      <div id="count" class="paragraph">
        <p id="p1"></p>
      </div>
    </div>
  </div>
</div>
<ng-template #addEditModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{currentOperation}} продукта</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onAddEditFormSubmit(f.form.value)">
      <div *ngFor="let col of addColumns;let i=index" class="form-group row">

        <label class="col-sm-2 col-form-label">{{col.title}}</label>
        <div class="col-sm-10" *ngIf="col.title === 'Название'">
          <input type="text" id = "input_name" class="form-control" [ngModel]="currentRecord[col.data]" customRequired  [name]="col.data">
        </div>
        <div class="col-sm-10" *ngIf="col.title === 'Коорд. х'">
          <input type="text" id="input_x" class="form-control" [ngModel]="currentRecord[col.data]" customRequired [name]="col.data">
        </div>
        <div class="col-sm-10" *ngIf="col.title === 'Коорд. у'">
          <input type="text" [customMin]="-686.999" id = "input_y" class="form-control" [ngModel]="currentRecord[col.data]" customRequired [name]="col.data" #coor_y="ngModel">
          <div *ngIf="coor_y.dirty || coor_y.touched">
            <span *ngIf="coor_y?.errors?.customMin" class="text-danger">Значение должно быть больше -687</span>
          </div>

        </div>
        <div class="col-sm-10" *ngIf="col.title === 'Цена'">
          <input type="text" [customMin]="1" id="input_price" class="form-control" [ngModel]="currentRecord[col.data]" [name]="col.data" #price="ngModel">
          <div *ngIf="price.dirty || price.touched">
            <span *ngIf="price?.errors?.customMin" class="text-danger">Значение должно быть больше 0</span>
          </div>
        </div>
        <div class="col-sm-10" *ngIf="col.title === 'Цена производителя'">
          <input type="text" id = "input_m_price" class="form-control" [ngModel]="currentRecord[col.data]" customRequired [name]="col.data">
        </div>
        <div class="col-sm-10" *ngIf="col.title === 'Ед. измерения'">
          <select class="form-control" [ngModel]="currentRecord[col.data]" [name]="col.data">
            <option></option>
            <option value="PCS">Штуки</option>
            <option value="GRAMS">Граммы</option>
            <option value="CENTIMETERS">Сантиметры</option>
            <option value="MILLILITERS">Миллилитры</option>
          </select>
        </div>
        <div class="col-sm-10" *ngIf="col.title === 'Имя производ.'">
          <input id="input_m_name" type="text" class="form-control" [ngModel]="currentRecord[col.data]" [name]="col.data">
        </div>
        <div class="col-sm-10" *ngIf="col.title === 'Полное имя производ.'">
          <input id="input_m_fullName" [customMaxLength] = "1599" type="text" class="form-control" [ngModel]="currentRecord[col.data]" #fullName="ngModel" [name]="col.data">
          <div *ngIf="fullName.dirty || fullName.touched">
            <span *ngIf="fullName?.errors?.customMaxLength" class="text-danger">Длина строки не должна привышать 1599 символов.</span>
          </div>
        </div>
        <div class="col-sm-10" *ngIf="col.title === 'Число сотрудников'">
          <input type="text" [customMin]="1" id="input_m_employeesCount" class="form-control" [ngModel]="currentRecord[col.data]" [name]="col.data" #countEmpl = "ngModel">
          <div *ngIf="countEmpl.dirty || countEmpl.touched">
            <span *ngIf="countEmpl?.errors?.customMin" class="text-danger">Значение должно быть больше 0</span>
          </div>
        </div>
        <div class="col-sm-10" *ngIf="col.title === 'Тип компании'">
          <select class="form-control" [ngModel]="currentRecord[col.data]"  [name]="col.data">
            <option></option>
            <option value="COMMERCIAL">Коммерческая</option>
            <option value="PUBLIC">Публичная</option>
            <option value="PRIVATE_LIMITED_COMPANY">ООО</option>
          </select>
        </div>
        <div class="col-sm-10">
          <span *ngIf="manufactureRequire(f.form, col.data)" class="text-danger">Это поле обязательное</span>
        </div>
<!--        <div *ngIf="f.form.invalid && (f.form.dirty || f.form.touched)">-->
<!--          <div *ngIf="f.form.errors.required">-->
<!--            Required field-->
<!--          </div>-->
<!--          <div *ngIf="f.form.errors.min">-->
<!--            Min possible value is 100-->
<!--          </div>-->
<!--        </div>-->
<!--       <div class="col-sm-10">-->
<!--          <div *ngIf="f.form.controls[col.data]?.dirty && f.form.controls[col['coordinates.0.y']]?.errors.min">-->
<!--            Min possible value is -687-->
<!--          </div>-->
<!--          <div *ngIf="f.form.controls[col.data]?.invalid && (f.form.controls[col.data]?.dirty || f.form.controls[col.data]?.touched)">-->
<!--            <div *ngIf="f.form.controls[col.data]?.errors.required">-->
<!--              Required field-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <!--
        <div class="col-sm-10">
          <input type="text" class="form-control" [ngModel]="currentRecord?currentRecord[col.data]:null" required [name]="col.data">
        </div>
        -->
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('cancel')">Отменить</button>
        <button type="submit" [disabled]="f.invalid" class="btn btn-primary ml-2">Сохранить</button>
      </div>
    </form>
  </div>
</ng-template>
<ngx-loading [show]="showLoader" ></ngx-loading>
