//.ng-valid[customRequired],
//.ng-valid.customRequired,
//.ng-valid[required],
//.ng-valid.required{
//  border-left: 5px solid #42A948;
//  /* green */
//}


.ng-touched.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

.card {
  margin-top: 12rem;
}
.table{
  #display: block;
  margin: 0;
  padding: 0;
  min-width: 99vw;
  font-size: calc( (100vw - 1280px)/(3000 - 1280) * (18 - 8) + 8px);
}
.thead{
  overflow: hidden;
}
.raw {

  width: 14vw;
  height: 5vh;
  max-height: 5vh;
}
.dt-center1{
  display: table-cell;
  padding: 1px;
  max-width: 4vw;
  white-space: nowrap;
}
.dt-center2{
  display: table-cell;
  padding: 1px;
  max-width: 4vw;
  white-space: nowrap;
}

.subDiv{
  display: flex;
}
.measureArea{
  //width: 50%;
  left: 1vw;
  right: 75vw;
  //width: 30vw;
  position: absolute;
  padding-block: 20px;
}
.countArea{
  //width: 50%;
  left: 40vw;
  right: 30vw;
  position: absolute;
  //width: 30vw;
  padding-block: 20px;
}
.uniqueArea{
  //width: 60%;
  left: 75vw;
  right: 1rem;
  //width: 30vw;
  position: absolute;
  padding-block: 20px;
}

.measureArea .countArea .uniqueArea button {
  float: left;
  height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.inputDiv{
  margin: 1rem 1rem 1rem auto;
}
.measureArea select {
  width: 150px;
  height: 32px;
  //margin: 1rem 1rem 1rem auto;
}

//.countArea button{
//  float: left;
//  height: 32px;
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//  margin:0;
//  display: inline;
//}
//.countArea input {
//  float: right;
//  width: 150px;
//  height: 32px;
//}

.searchInput{
  max-width: 4vw;
  font-size: 8pt;
  font-style: italic;
  background-color: #ffffff;
}

.deleteButton{
  width: 50px;
  height: auto;
  max-width: 3vh;
}

.editButton{
  width: 50px;
  height: auto;
  max-width: 3vh;
}
